/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; width:550px; height:300px; border:2px Groove White; border-radius: 20px; box-shadow:1px 1px 8px 8px #ccc; }
.coin-slider a{ text-decoration: none; outline: none; border: none;  }

.cs-buttons { font-size: 0px; padding: 10px 0px 0px 35px; float: left; border-radius: 20px; z-index:2; }
.cs-buttons a { margin-left: 5px; height: 12px; width: 12px; float: left; border: 2px solid #FFFFFF; color: #FFFFFF; z-index:2; border-radius: 20px; }
.cs-active { background-color: #3B5998; color: #FFFFFF; border-radius: 20px; }

.cs-title { width: 530px; height:40px; padding: 10px; background-color: #000000; color: #FFFFFF;  }

.cs-prev, 
.cs-next { background-color: #000000; color: #000000 ; padding: 0px 10px;  }
